<div class="row">
    <div class="col-md-12">
        <form  style="display: block;margin-left: auto;margin-right: auto;float: none;" class="col-md-6">
<legend>Filter</legend>
<div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" ng-model="filterName" id="" placeholder="Name">
</div>
<div class="form-group">
    <label for="">Age</label>
    <input type="text" class="form-control" ng-model="filterAge" id="" placeholder="Age">
</div>
<div class="form-group">
    <label for="">Country</label>
    <select class="form-control" ng-options="p.country for p  in People |unique:'country'" ng-model="filterSeachr">
                        <option value="">All</option>
                     </select>
</div>
</form>
</div>
<div class="container">
    <table class="table table-striped table-hover table-bordered ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-dblclick="Delete($index)" ng-repeat="person in People | filter:filterName:name| filter:filterAge:age| specificSearce:filterSeachr:country">
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.country}}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>